# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Variables
.env
.env.*
!.env.example

# Production / Build Outputs
dist/
build/
coverage/
.vite/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
